{% include 'html/header.html.twig' %}

<div>
    <h3>Page: </h3>
        <div>
            <p>
                ID: {{ page.id }}
            </p>
            <p>
                Title: {{ page.title }}
            </p>
            <p>
                Content: {{ page.content }}
            </p>
            <hr>
        </div>
</div>

